.carousel {
  width: 100%;
  overflow: hidden;
}

div {
  &#carousel-wrapper {
    height: 50%;
  }
}
.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  img {
    height: 300px;
    width: 100%;
    object-fit: contain;
  }
}

.active {
  transform: translateX(0);
}

a.carousel-control-next,
a.carousel-control-prev {
  background-color: $primary-color;
  padding: 0.5rem;
  color: $quaternary-color;
  text-decoration: none;
  margin: 1rem;
  border-radius: 10px;
  &:hover {
    transition: all 0.5s ease-in-out;
    color: $tertiary-color;
  }
}

.btn-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}
