section {
  &.cube {
    display: flex;
    width: 50px;
    position: relative;
    bottom: 5%;
    margin: auto;
    margin-top: 5rem;
    justify-content: space-around;
  }
  &.centered-cube {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cubespinner {
  margin: 0 100%;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  margin-left: calc(50% - 12.5px);
  transform-origin: 12.5px 12.5px 0;
  transform-style: preserve-3d;

  img {
    width: 2rem;
    height: auto;
    &.js {
      rotate: 270deg;
    }
    &.git,
    &.gitHub {
      width: 1rem;
    }
    &.symfony {
      width: 3rem;
    }
  }

  div {
    align-items: center;
    background: rgba(251, 251, 251, 0.5);
    border: 1.875px solid #ccc;
    box-shadow: 0 0 3.75px 0 #ffffe0;
    display: flex;
    font-size: 18.75px;
    height: 37.5px;
    justify-content: center;
    position: absolute;
    width: 37.5px;

    &.face1 {
      transform: translateZ(18.75px);
    }

    &.face2 {
      transform: rotateY(90deg) translateZ(18.75px);
    }

    &.face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(18.75px);
    }

    &.face4 {
      transform: rotateY(180deg) rotate(90deg) translateZ(18.75px);
    }

    &.face5 {
      transform: rotateY(-90deg) rotate(90deg) translateZ(18.75px);
    }

    &.face6 {
      transform: rotateX(-90deg) translateZ(18.75px);
    }
  }
}

@keyframes spincube {
  0%,
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotate(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotate(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
