@import "variables";
@import "presentation";
@import "social-container";
@import "nav-bar";
@import "card-portefolio";
@import "cube-spinner";
@import "modal-window";
@import "a-mon-sujet";
@import "skills";
@import "testimonials";
@import "contact";
@import "carousel";

html {
  font-family: "Roboto", sans-serif;
  background-color: lighten($secondary-color, 40%);
  color: rgb(54, 54, 54);
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 3rem 0 1.5rem 0;
}

h4 {
  font-size: 1.6rem;
  margin: 1rem;
}

h5 {
  font-size: 1.5rem;
  margin: 4rem 0 1rem;
}

h6 {
  font-size: 1.5rem;
  margin: 4rem 0 1rem;
}

p {
  font-size: 1rem;
}
section {
  margin: 3rem 0;
  &.colored {
    background-color: lighten($secondary-color, 30%);
    padding: 3rem 0;
  }
}
