body,
html {
  height: 100%;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.4);
    transform: translatey(-15px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
    transform: translatey(0px);
  }
}
@keyframes clignote {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.presentation {
  width: 100%;
  max-height: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.presentation .avatar {
  max-width: 170px;
  height: auto;
  box-sizing: border-box;
  border: 2px rgb(0, 0, 0) solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
}
.presentation .avatar img {
  width: 100%;
  height: 100%;
}
.presentation .content-presentation {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}
.presentation .content-presentation h1 {
  margin: 10px 0 0 0;
  font-weight: bold;
  color: #000000;
}
.presentation .content-presentation p {
  font-size: 0.8rem;
  font-weight: lighter;
  color: #242424;
}
.presentation .content-presentation p span a :before {
  font-size: 18px;
  color: #cccccc;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.4s ease-in-out;
}
.presentation .content-presentation p span a :before:hover {
  color: #ffffff;
}
.presentation .content-presentation p i {
  margin: 0 1rem;
}
.presentation .content-presentation p#text {
  margin: 5rem;
}
.presentation .content-presentation #text {
  font-size: 1rem;
}
.presentation .content-presentation #text span {
  font-weight: bold;
}
.presentation .content-presentation #text:after {
  content: "";
  animation: clignote 0.5s infinite linear;
  width: 2px;
  height: 1rem;
  display: inline-block;
  background: #242424;
}

.social-container {
  position: relative;
  top: 30px;
  right: 51px;
}

.trapdoor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: #2867b2;
  box-shadow: inset -7px 0px 12px -8px rgba(0, 0, 0, 0.3), inset 7px 0px 12px -8px rgba(0, 0, 0, 0.3);
  transition: background 1.5s ease-in-out;
}
.trapdoor:hover {
  background: #dff6ff;
}
.trapdoor:hover .door {
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.4);
  transform: scale(1.08);
}
.trapdoor:hover .top {
  top: -50%;
}
.trapdoor:hover .bottom {
  top: 100%;
}
.trapdoor .top,
.trapdoor .bottom {
  position: absolute;
  left: 0;
  width: 100%;
}
.trapdoor .top:before,
.trapdoor .bottom:before {
  position: absolute;
  content: url(../img/linkedin.webp);
}
.trapdoor a.follow-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25%;
  color: #2867b2;
  text-decoration: none;
}
.trapdoor .top {
  top: 0%;
}
.trapdoor .top:before {
  top: 10px;
}
.trapdoor .bottom {
  top: 50%;
}
.trapdoor .bottom:before {
  top: -15px;
}
.trapdoor .door {
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  transition-timing-function: ease-in-out;
  background-color: #dff6ff;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 50%;
  z-index: 2;
}
.trapdoor .door:before {
  margin-left: -13px;
  width: 0;
  height: 20px;
  left: 52%;
}

.social-container .trapdoor.linkedin .top:before,
.social-container .trapdoor.linkedin .bottom:before {
  content: url(../img/linkedin.webp);
}
.social-container .trapdoor.linkedin a.follow-button {
  color: #2867b2;
}
.social-container .trapdoor.github {
  margin: 0 50px;
}
.social-container .trapdoor.github .top:before,
.social-container .trapdoor.github .bottom:before {
  content: url(../img/github.webp);
}
.social-container .trapdoor.github a.follow-button {
  color: #333;
}

.trapdoor.mail {
  margin: 0 100px;
}
.trapdoor.mail .top:before,
.trapdoor.mail .bottom:before {
  content: url(../img/enveloppe.webp);
}
.trapdoor.mail a.follow-button {
  color: green;
}

body {
  margin: 0;
  padding: 0;
}
body .nav-bar {
  height: 70px;
  text-transform: capitalize;
  background: #262626;
}
body .me {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
body .me a img {
  max-height: 70px;
  border-radius: 50%;
}
body .me a, body .me a:visited {
  color: #dff6ff;
  text-decoration: none;
}
body .nav-container {
  max-width: 1000px;
  margin: 0 auto;
}
body nav {
  float: right;
}
body nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body nav ul li {
  float: left;
  position: relative;
}
body nav ul li a, body nav ul li:visited {
  display: block;
  padding: 0 15px;
  line-height: 70px;
  background: #262626;
  color: #dff6ff;
  text-decoration: none;
}
body nav ul li a:hover, body nav ul li a:visited:hover, body nav ul li:visited:hover, body nav ul li:visited:visited:hover {
  background: #6dbcd6;
  color: #06283d;
}
body nav ul li a:not(:only-child):after, body nav ul li a:visited:not(:only-child):after, body nav ul li:visited:not(:only-child):after, body nav ul li:visited:visited:not(:only-child):after {
  padding-left: 4px;
}
body nav ul li a ul li, body nav ul li:visited ul li {
  min-width: 190px;
}
body nav ul li a ul li a, body nav ul li:visited ul li a {
  padding: 15px;
  line-height: 20px;
}
body .nav-mobile {
  display: none;
  position: absolute;
  top: 32px;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}
@media only screen and (max-width: 900px) {
  body .nav-mobile {
    display: block;
    position: absolute;
    top: 3rem;
    right: 5%;
  }
  body nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  body nav ul {
    display: none;
  }
  body nav ul li {
    float: none;
  }
  body nav ul li a {
    padding: 15px;
    line-height: 20px;
    padding-left: 25%;
  }
  body nav ul li a ul li a {
    padding-left: 30%;
  }
  body .nav-dropdown {
    position: static;
  }
  body .brand a img {
    max-height: 60px;
    margin-top: 5px;
  }
}
@media screen and (min-width: 900px) {
  body .nav-list {
    display: block !important;
  }
}
body #nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
body #nav-toggle span,
body #nav-toggle span:before,
body #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #47b5ff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
body #nav-toggle span:before {
  top: -10px;
}
body #nav-toggle span:after {
  bottom: -10px;
}
body #nav-toggle.active span {
  background-color: transparent;
}
body #nav-toggle.active span:before, body #nav-toggle.active span:after {
  top: 0;
}
body #nav-toggle.active span:before {
  transform: rotate(45deg);
}
body #nav-toggle.active span:after {
  transform: rotate(-45deg);
}
body article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

body h2,
body h3,
body h4,
body h5,
body h6 {
  text-align: center;
}
body .wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
body .wrapper .card {
  flex: 1;
  flex-basis: 300px;
  flex-grow: 0;
  height: 250px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
body .wrapper .card img {
  width: 100%;
  height: 100%;
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
}
body .wrapper .card .descriptions {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  transition: all 0.7s ease-in-out;
  padding: 5px 10px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  color: #ffffff;
}
body .wrapper .card:hover .descriptions {
  left: 0px;
  transition: all 0.5s ease-in-out;
  clip-path: circle(75%);
  margin-top: 1rem;
}
body .wrapper .card:hover {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}
body .wrapper .card:hover img {
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  transform: scale(2);
  filter: blur(1px);
}
body .wrapper .card h3 {
  color: #06283d;
  letter-spacing: 1px;
  margin: 0px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px #fff, 0 0 1em blue, 0 0 0.2em blue;
}
body .wrapper .card p {
  line-height: 24px;
  height: 70%;
}
body .wrapper .card button {
  width: fit-content;
  height: 40px;
  cursor: pointer;
  border-style: none;
  background-color: #06283d;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 20%;
}
body .wrapper .card button a {
  color: #dff6ff;
}
body .wrapper .card button a:hover {
  transition: all 0.5s ease-in-out;
  color: #47b5ff;
}

button {
  position: absolute;
  left: 15%;
}
button.en-savoir-plus-btn {
  position: absolute;
  left: 60%;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.center-content ul {
  list-style: none;
  padding: 0;
}
.center-content ul li {
  margin: 10px;
}

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tags .hidden {
  display: none;
}
.tags li {
  max-width: 150px;
  margin: 2px;
  padding: 0 0.5em;
  background-color: #313131;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-color: #222;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}
.tags li.html {
  color: black;
  background-color: #e96228;
}
.tags li.css {
  color: white;
  background-color: #2862e9;
}
.tags li.js {
  color: black;
  background-color: #efd81d;
}
.tags li.sass {
  color: black;
  background-color: #c76494;
}
.tags li.symfony {
  color: white;
  background-color: black;
}
.tags li.react {
  color: white;
  background-color: #5ed3f3;
}
.tags li.wordpress {
  color: black;
  background-color: #28799e;
}
.tags li.bootstrap {
  color: white;
  background-color: #6e2cf3;
}
.tags ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  background: linear-gradient(#767373, #d6d6d6);
}
.header i {
  display: flex;
  justify-content: flex-end;
}
.header span {
  margin: auto;
  padding: 0 0.2rem;
  font-weight: bold;
}
.header span.symbol {
  margin: 0.2rem 0.2rem;
}

section.cube {
  display: flex;
  width: 50px;
  position: relative;
  bottom: 5%;
  margin: auto;
  margin-top: 5rem;
  justify-content: space-around;
}
section.centered-cube {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.cubespinner {
  margin: 0 100%;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  margin-left: calc(50% - 12.5px);
  transform-origin: 12.5px 12.5px 0;
  transform-style: preserve-3d;
}
.cubespinner img {
  width: 2rem;
  height: auto;
}
.cubespinner img.js {
  rotate: 270deg;
}
.cubespinner img.git, .cubespinner img.gitHub {
  width: 1rem;
}
.cubespinner img.symfony {
  width: 3rem;
}
.cubespinner div {
  align-items: center;
  background: rgba(251, 251, 251, 0.5);
  border: 1.875px solid #ccc;
  box-shadow: 0 0 3.75px 0 #ffffe0;
  display: flex;
  font-size: 18.75px;
  height: 37.5px;
  justify-content: center;
  position: absolute;
  width: 37.5px;
}
.cubespinner div.face1 {
  transform: translateZ(18.75px);
}
.cubespinner div.face2 {
  transform: rotateY(90deg) translateZ(18.75px);
}
.cubespinner div.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(18.75px);
}
.cubespinner div.face4 {
  transform: rotateY(180deg) rotate(90deg) translateZ(18.75px);
}
.cubespinner div.face5 {
  transform: rotateY(-90deg) rotate(90deg) translateZ(18.75px);
}
.cubespinner div.face6 {
  transform: rotateX(-90deg) translateZ(18.75px);
}

@keyframes spincube {
  0%, 100% {
    transform: rotateX(0deg) rotateY(0deg) rotate(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotate(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotate(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
h1 {
  margin: 0 0 2% 0;
}

.modal.visible {
  visibility: visible;
  opacity: 1;
  width: 100%;
  z-index: 1;
  height: 120%;
}

div.modal {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
}
div.modal :target {
  visibility: visible;
  animation-duration: 14s;
  opacity: 1;
  transform: translateY(110%);
  z-index: 1;
  height: 100vh;
}

.modal_content {
  border-radius: 10px;
  position: relative;
  width: 50%;
  height: 100vh;
  background: #addeff;
  margin-top: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
  padding: 1em 2em;
}
.modal_content .portefolio-info {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 0 0;
}
.modal_content .portefolio-info ul {
  display: flex;
  flex-direction: column;
}
.modal_content .portefolio-info ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal_content .portefolio-info ul li.amelioration {
  text-align: left;
}

a.modal_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  color: #06283d;
  margin: 0rem 1rem;
  padding: 0rem;
  text-decoration: none;
  background-color: transparent;
}

@media screen and (max-width: 801px) {
  .modal_content {
    width: 70%;
    height: 75%;
  }
  .modal_content .portefolio-info {
    margin: -2rem 0 0 0;
  }
}
@media screen and (min-width: 350px) and (max-width: 799px) {
  .modal_content {
    width: 95%;
    height: 100%;
    margin-bottom: 1rem;
  }
  .modal_content .portefolio-info {
    margin: 0;
  }
}
ul li {
  list-style: none;
  text-align: left;
}

h4 {
  text-align: center;
  padding: 1rem;
  text-decoration: #dff6ff wavy underline;
}

.a-mon-sujet {
  margin: 0 0 3rem 0;
}
.a-mon-sujet a {
  margin: 0 0.5rem;
  color: #06283d;
}
.a-mon-sujet a:hover {
  color: #dff6ff;
  transition: color 1.5s cubic-bezier(0.05, 0.83, 0.61, 1.39);
}

.CV {
  height: 5rem;
  display: flex;
  align-items: center;
}
.CV a button {
  cursor: pointer;
  position: relative;
  margin: auto;
  background-color: #06283d;
  color: #dff6ff;
  padding: 1rem;
  border-radius: 10px;
}
.CV a button:hover {
  background: linear-gradient(135deg, #0f659a 0%, #1483c8 11%, #0b466b 24%);
  transition: all 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  font-weight: bold;
}
.CV a button i {
  margin: 0.5rem;
}

.text {
  margin: 0 5rem;
  width: 50%;
}

.flex-group {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  margin: 0 5%;
}
.flex ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 800px) {
  .flex-group {
    flex-direction: column;
  }
  .flex,
  .text {
    width: 100%;
    margin: 0 5%;
    max-width: 90%;
  }
  .flex ul {
    margin: 0 25%;
  }
  .CV {
    margin: 2% 25%;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .flex-group {
    flex-direction: column;
    margin: 0 0% 0 10%;
  }
  .flex,
  .text {
    margin: 0 1%;
  }
  .flex ul {
    margin: 0 -10%;
  }
  .CV {
    margin: 5% 0;
    justify-content: center;
    position: relative;
    left: -10%;
  }
}
@media screen and (max-width: 300px) {
  .flex-group {
    flex-direction: column;
    margin: 0 0% 0 5%;
  }
  .flex ul {
    margin: 0 0 0 -13%;
  }
}
.skills i {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  width: 100vw;
}
.skills i.contact {
  margin-bottom: 0 10rem 1.5rem 13rem;
}
.skills div {
  border-top: thick double black;
  width: 25%;
  margin: 5% 37%;
}

.list-skills {
  padding-left: 15%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: space-around;
}
.list-skills.domain {
  padding-left: 4%;
  display: block;
  width: 80%;
}
.list-skills ol,
.list-skills ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ul.list-skills.domain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

li.list-skills-item {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-items: center;
}
li.list-skills-item img {
  padding: 0.5rem 1rem;
  width: 50px;
  height: 50px;
}
li.list-skills-item img.bdd-image-maria, li.list-skills-item img.bdd-image-mysql {
  width: 85px;
}
li.list-skills-item.learn-curious {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 165px;
}

@media screen and (max-width: 800px) {
  .list-skills.domain {
    width: 100%;
    margin: 0 3%;
    max-width: 90%;
    padding-left: 0;
  }
}
@media screen and (max-width: 550px) {
  .list-skills.domain {
    margin: 0 1%;
  }
}
section.testimonials i {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.testimonials-container {
  background-color: #06283d;
  border-radius: 15px;
  color: #ffffff;
  margin: 20px auto;
  width: 55%;
  padding: 50px 80px;
  position: relative;
}
.testimonials-container .quote {
  color: rgba(255, 255, 255, 0.3);
  font-size: 28px;
  position: absolute;
  top: 70px;
}
.testimonials-container .quote-right {
  left: 40px;
}
.testimonials-container .quote-left {
  right: 40px;
  rotate: 180deg;
}
.testimonials-container .testimonial {
  line-height: 28px;
  text-align: justify;
}
.testimonials-container .centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials-container .centered-items .logo {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.testimonials-container .centered-items .user-details {
  margin-left: 10px;
  text-align: center;
}
.testimonials-container .centered-items .user-details .username {
  margin: 0;
}
.testimonials-container .centered-items .user-details .role {
  font-weight: normal;
  margin: 2px 0;
}
.testimonials-container .progress-bar {
  background-color: #fff;
  height: 4px;
  width: 100%;
  animation: grow 15s linear infinite;
  transform-origin: left;
  margin: 0.8rem 0;
}
.testimonials-container .arrow.arrow-right {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
@keyframes grow {
  0% {
    transform: scaleX(0);
  }
}
@media (max-width: 768px) {
  .testimonials-container {
    padding: 20px 30px;
  }
  .testimonials-container .quote-right {
    left: 70%;
    top: 0;
  }
  .testimonials-container .quote-left {
    top: 0;
    left: 97%;
  }
}

section.contact i {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: column;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 2rem;
  padding: 0;
}
.address h3 {
  text-align: start;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.address p {
  margin: 0;
}

.email {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 2rem;
  padding: 0;
}
.email h3 {
  text-align: start;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.email p {
  margin: 0;
  color: #06283d;
}
.email p:hover {
  color: #dff6ff;
  transition: color 1.5s cubic-bezier(0.05, 0.83, 0.61, 1.39);
}

.map {
  margin: 0 5%;
}

div.container-info {
  display: flex;
  margin: 2rem 5rem;
  justify-content: center;
}

@media (max-width: 900px) {
  div.container-info {
    display: flex;
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  div.container-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.carousel {
  width: 100%;
  overflow: hidden;
}

div#carousel-wrapper {
  height: 50%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}
.carousel-item img {
  height: 300px;
  width: 100%;
}

.active {
  transform: translateX(0);
}

a.carousel-control-next,
a.carousel-control-prev {
  background-color: #06283d;
  padding: 0.5rem;
  color: #dff6ff;
  text-decoration: none;
  margin: 1rem;
  border-radius: 10px;
}
a.carousel-control-next:hover,
a.carousel-control-prev:hover {
  transition: all 0.5s ease-in-out;
  color: #47b5ff;
}

.btn-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: #95cee1;
  color: black;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
  margin: 3rem 0 1.5rem 0;
}

h4 {
  font-size: 1.6rem;
  margin: 1rem;
}

h5 {
  font-size: 1.5rem;
  margin: 4rem 0 1rem;
}

h6 {
  font-size: 1.5rem;
  margin: 4rem 0 1rem;
}

p {
  font-size: 1rem;
}

section {
  margin: 3rem 0;
}
section.colored {
  background-color: #6dbcd6;
  padding: 3rem 0;
}

/*# sourceMappingURL=style.css.map */
